<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center"><%= campground.title %></h1>
    <div class="mb-3">
        <label for="campgroundLocation">Location:</label>
        <h5 id="campgroundLocation"><%= campground.location %></h5>
    </div>
    <div class="mb-3">
        <label for="price">Price:</label>
        <h5 id="price">$<%= campground.price %></h5>
    </div>

    <div class="mb-3">
        <label for="image">Campground Image:</label>
        <div>
            <img id="image" class="img-fluid" src="<%= campground.imageUrl %>" alt="Campground Image" />
        </div>
    </div>
    <div class="mb-3">
        <label for="description">Campground description:</label>
        <h5 id="description"><%= campground.description %></h5>
    </div>
    <div class="mb-3">
        <a href="/campgrounds/<%= campground._id %>/edit"><button class="btn btn-info">Edit campground</button></a>
    </div>
    <div class="mb-3">
        <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
        </form>
    </div>
    <div class="mb-3">
        <a href="/campgrounds"><h5>All campgrounds</h5></a>
    </div>
</div>
